body {
    background-color: #62D2A2;
  }
  
  .navbar {
    background-color: white !important;
    padding: 20px;
  }

  .navbar-nav .nav-link {
    padding-left: 20px !important;
    padding-right: 20px !important;
    color: black;
    font-size: 1.2rem;
  }

  .nav-link:hover {
    color: #3F72AF;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .card {
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  